* {
    box-sizing: border-box;
}

:root {
    --main-background: darkblue;
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    min-height: 100vh;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

header, footer {
    display: flex;
    padding: 1.5rem;
    color: white;
    background-color: var(--main-background);
}

footer {
    justify-content: center;
}

main {
    flex: 1 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.page-section {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
}

#gameplay-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 40%;
    margin-right: 1.5rem;
}

#instructions-section {
    flex: 0 1 60%;
}

#stats-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stats-table {
    border: 1px solid black;
}

#stats-table th, td {
    padding: 1rem;
    border: 1px solid black;
}

#trivia-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#username-module {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trivia-section > p {
    font-size: 300%;
    align-self: center;
}

#trivia-module {
    display: none;
    flex-direction: column;
}

.spread-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timer {
    width: 3rem;
    height: 3rem;
    font-size: 150%;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#trivia-form {
    display: flex;
    flex-direction: column;
}

#endgame-module {
    display: none;
    flex-direction: column;
    align-items: center;
}

#endgame-module ul {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
}

#restart-button, #exit-button {
    width: 100px;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    #gameplay-section, #instructions-section {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}